---
import type { Playlist } from "../lib/data";
interface Props{
    elemento:Playlist
} 
const {elemento} =Astro.props;
const {
    id,
    cover,
    title,
    artists,
    color
}=elemento

---

<a href={`/Songs/${id}`} 
class="playlist-item flex transition-all duraciton-300 relative p-2 overflow-hidden items-center gap-5 text-gray-300 rounded-md
hover:bg-zinc-700 hover:text-gray-50  hover:shadow-xl 2xl:w-52 xl:w-32 flex-col  hover:scale-[118%]  ">
<picture class="aspect-square w-full h-auto flex-none  z-20"  >
    <img 
    src={cover} 
    alt=`cover of ${title}`
    class="object-cover w-full h-full rounded-full z-20"
    transition:name=`playlist ${id} image`>
    
</picture>

<div class="flex flex-auto  flex-col truncate  text-sm px-2 z-20 ">
    <h4 class="font-bold">
        {title}
    </h4>
    
</div>


</a>