---
import type { Playlist } from "../lib/data";
interface Props{
    elemento:Playlist
} 
const {elemento} =Astro.props;
const {
    id,
    cover,
    title,
    artists,
    color
}=elemento

const artistString = artists.join(", ")
---

<a href={`/playlist/${id}`} 
class="playlist-item flex transition-all duraciton-300 relative p-2 overflow-hidden items-center gap-5 text-gray-300 
rounded-md hover:bg-zinc-700 hover:text-gray-50 shadow-lg hover:shadow-xl  duration-300">
<picture class="h-12 w-12 flex-none" >
    <img 
    src={cover} 
    alt=`cover of ${title} by ${artistString}`
     class="object-cover w-full h-full rounded-md">

</picture>

<div class="flex flex-auto  flex-col truncate  text-sm">
    <h4 class="font-bold">
        {title}
    </h4>
    <span class="text-xs">
        {artistString}
    </span>
</div>

</a>